@tailwind base;
@tailwind components;
@tailwind utilities;


.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.addUsers{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.displayUsers {
  margin-top: 20px;
  
}

.displayUsers > div {
  width: 480px;
  height: auto;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  background-color:#9BE150 ;
  color: white;
}

#one{
  padding: 12px;
   border-radius:30px;
   background-color: #f7d44c;
   margin-top: 10px;
   width: 480px;
}

#two{
  padding: 12px;
   border-radius:30px;
   background-color: #f7d44c;
   margin-top: 10px;
   width: 480px;
  
}
#three{
  padding: 12px;
   border-radius:30px;
   background-color: #f7d44c;
   margin-top: 10px;
   width: 480px;
}

#four{
  padding: 12px;
   border-radius:30px;
   background-color: #f7d44c;
   margin-top: 10px;
   width: 480px;
}

#five{
  padding: 12px;
   border-radius:30px;
   background-color: #f7d44c;
   margin-top: 10px;
   width: 480px;
}

#six{
  padding: 12px;
   border-radius:30px;
   background-color: #f7d44c;
   margin-top: 10px;
   width: 480px;
}

#seven{
  padding: 12px;
   border-radius:30px;
   background-color: #f7d44c;
   margin-top: 10px;
   width: 480px;
}